<%= render 'layouts/navbar' %>
<div id="about" class="body">
    <div id="headline">
        <h1 class="fittext">HELLO THERE.</h1>
        <h3>A BIT ABOUT ME —</h3>
    </div>
</div>
<script>
    document.addEventListener("turbolinks:load", jQuery(".fittext").fitText())
</script>