<% provide(:title, "HOME") %>
<div id="landing">
    <div id="topsection">
        <h3 id="designerdeveloper">DESIGNER // DEVELOPER</h3>
        <div id="imagecaption">
            <h4 id="artdirection">ART DIRECTION // FASHION</h4>
            <%= image_tag("rach.png", alt: "rachie", id: "rachie", class: "img-fluid") %>
            <div id="losangeles" class="caption">LOS ANGELES, CA</div>
        </div>
    </div>
    <div id="bottomsection" class="pb-4">
    <h1 id="title" class="fittext">RACHEL WANG</h1>
    <%= render 'layouts/homenav' %>
    </div>
</div>
