<%= render 'layouts/navbar' %>
<div id="work" class="body">
    <div id="headline">
        <h1 class="fittext">WORK.</h1>
    </div>
</div>
<script>
    document.addEventListener("turbolinks:load", jQuery(".fittext").fitText())
</script>