<% provide(:title, "DOJO") %>
<%= render 'layouts/navbar' %>
<div id="dojo" class="body casestudy">
    <div id="headline">
        <h1 class="fittext">DOJO</h1>
        <h3>BRANDING AND INTERACTION DESIGN —</h3>
    </div>
    <div class="container info">
        <p>To be perfectly transparent, I haven't had a chance to create a case study for this project. Kindly avert your eyes, or perhaps try a training with my friends over at
        <%= link_to "Dojo!", "https://dojotrain.com/", class: "", target: :_blank %></p>
    </div>
    <div class="content">
    </div>
    <%= render 'layouts/backtoportfolio' %>
</div>
<script>
    document.addEventListener("turbolinks:load", jQuery(".fittext").fitText())
</script>