<% provide(:title, "DOJO") %>
<%= render 'layouts/navbar' %>
<div id="dojo" class="body casestudy">
    <div id="headline">
        <h1 class="fittext">DOJO</h1>
        <h3>BRANDING AND INTERACTION DESIGN —</h3>
    </div>
    <div class="container info">
        <p>Stay tuned — this project is currently underway. Case study coming soon <3</p>
    </div>
    <div class="content">
    </div>
    <%= render 'layouts/backtoportfolio' %>
</div>
<script>
    document.addEventListener("turbolinks:load", jQuery(".fittext").fitText())
</script>