
// TYPEFACES
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Yeseva+One&display=swap');

// CUSTOM VARIABLES
$darkmode: #0D0D0D;
$darkgray: #333333;
$gray: #828282;
$gradient: linear-gradient(90deg, rgba(255,46,33,1) 0%, rgba(9,9,121,1) 29%, rgba(113,23,76,1) 42%, rgba(237,39,22,1) 64%, rgba(238,44,23,1) 81%, rgba(251,100,40,1) 100%);
$red: rgba(255,46,33,1);

html {
    height: 100%;
}

body {
    min-height: 100%;	
    cursor: image-url("cursors/cursor.png"), auto;
    a {
        cursor: image-url("cursors/select.png"), auto;
    }
}

.body {
    padding: 2rem;
    padding-left: 4rem;
    padding-bottom: 0;
    padding-right: 0;
}

.fittext {
    width: 100%;
    font-size: 12vw;
}

// NAV STYLES
#nav {
    height: 12vh;
    #mainnav {
        .nav-link, .nav-item {
            font-family: 'Archivo Narrow', sans-serif;
            text-transform: uppercase;
            color: $darkmode;
            font-size: 2vw;
            padding-left: 4vw;
            &:hover {
                background: $gradient;
                background-clip: text;
                background-size: 300%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: shine 2s ease infinite;
                @keyframes shine {
                    0% {
                        background-position: 0 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0 50%;
                    }
                }
            }
        }
        padding: 2rem;
    }
    .navbar-toggler {
        border: none;
    }
    background-color: white;
}

#headline {
    h1 {
        font-family: 'Yeseva One', cursive;
        color: $darkmode;
        font-size: 5vw;
        width: 70vw;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $darkmode;
    }
    h3 {
        font-family: 'Archivo Narrow', sans-serif;
        text-transform: uppercase;
        color: $darkmode;
        font-size: 2vw;
        padding-left: 50vw;
    }
}

// WORK STYLES
#work {
    .fittext {
        margin: 0;
    }
    #topsection {
        height: 23vh;
        background-color: white;
        width: 100%;
        #categories {
            width: 50vw;
        }
        .category {
            cursor: image-url("cursors/select.png"), auto;
            background: none;
            border: none;
            font-family: 'Archivo Narrow', sans-serif;
            color: $darkmode;
            font-size: 1.8vw;
            text-align: left;
            &:hover {
                background: $gradient;
                background-clip: text;
                background-size: 300%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: shine 2s ease infinite;
                @keyframes shine {
                    0% {
                        background-position: 0 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0 50%;
                    }
                }
            }
        }
    }
    #bottomsection {
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
        padding-top: 2vw;
        width: 100%;
        height: 61vh;
        top: 35vh;
        overflow: auto;
        z-index: -2;
        .work {
            scroll-snap-align: start;
            height: 61vh;
            .description {
                font-family: 'Archivo Narrow', sans-serif;
                color: $darkmode;
                padding-top: 2rem;
                h2 {
                    font-size: 2.5vw;
                }
                h3 {
                    font-size: 2vw;
                    color: $gray;
                    font-style: italic;
                }
                p {
                    font-size: 1.2vw;
                    color: $darkgray;
                }
            }
            img {
                height: 62vh;
                width: 63vw;
                object-fit: cover;
            }
        }
    }
}

// ABOUT STYLES
#about {
    padding: 4rem;
    #aboutbody {
        font-family: 'Archivo Narrow', sans-serif;
        color: $darkmode;
        padding-top: 4vh;
        h2 {
            font-size: 3vw;
        }
        h4 {
            padding-top: 2vw;
            color: $gray;
            font-size: 1.5vw;
        }
        
    }
}

// RESUME STYLES
#resume {
    #pdf {
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 1.5vw;
            color: rgba(9,9,121,1);
            &:hover {
                background: $gradient;
                background-clip: text;
                background-size: 300%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: shine 2s ease infinite;
                @keyframes shine {
                    0% {
                        background-position: 0 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0 50%;
                    }
                }
            }
        }
    h2 {
        font-family: 'Yeseva One', cursive;
        color: $darkmode;
        font-size: 4vw;
        &:hover {
            background: $gradient;
            background-clip: text;
            background-size: 300%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            animation: shine 2s ease infinite;
            @keyframes shine {
                0% {
                    background-position: 0 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0 50%;
                }
            }
        }
    }
    #experience, #education {
        h2 {
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: .15vw;
            -webkit-text-stroke-color: $darkmode;
            &:hover {
                background: $gradient;
                background-clip: text;
                background-size: 300%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: shine 2s ease infinite;
                @keyframes shine {
                    0% {
                        background-position: 0 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0 50%;
                    }
                }
            }
        }
    }
    #experience {
        #experiencecontent {
            h5 {
                font-family: 'Yeseva One', cursive;
                font-size: 1.2vw;
            }
            p {
                font-family: 'Archivo Narrow', sans-serif;
                font-size: 1vw;
            }
            .role {
                color: $gray;
            }
        }
    }
    #siteportfolio {
        h5 {
            font-family: 'Archivo Narrow', sans-serif;
            text-transform: uppercase;
            color: $darkgray;
            font-size: 1.2vw;
        }
        a {
            font-family: 'Archivo Narrow', sans-serif;
            text-transform: uppercase;
            color: $gray;
            font-size: 1.2vw;
            &:hover {
                background: $gradient;
                background-clip: text;
                background-size: 300%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: shine 2s ease infinite;
                @keyframes shine {
                    0% {
                        background-position: 0 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0 50%;
                    }
                }
            }
        }
    }
    #tools {
        h5 {
            font-family: 'Archivo Narrow', sans-serif;
            text-transform: uppercase;
            color: $darkgray;
            font-size: 1.5vw;
        }
        ul {
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 1.2vw;
            list-style-type: none;
            padding-left: 0;
            color: $gray;
            li {
                padding-top: .5rem;
            }
        }
    }
    #education {
        h3 {
            font-family: 'Archivo Narrow', sans-serif;
            text-transform: uppercase;
            color: $darkgray;
            font-size: 2vw;
        }
        h4 {
            font-family: 'Archivo Narrow', sans-serif;
            color: $gray;
            font-size: 1.5vw;
        }
    }
}

// CONTACT STYLES
#contact {
    #headline {
        padding-bottom: 4vw;
    }
    #socials {
        height: 45vh;
        position: relative;
        #instagram {
            width: 12vw;
        }
        #github {
            width: 9vw;
            position: absolute;
            bottom: 6vh;
            left: 11vw;
        }
        #spotify {
            width: 9vw;
            position: absolute;
            bottom: 24vh;
            left: 20vw;
        }
        #linkedin {
            width: 7vw;
            position: absolute;
            bottom: 12vh;
            left: 32vw;
        }
        img {
            height: auto;
        }
    }
    #form {
        font-family: 'Archivo Narrow', sans-serif;
        text-transform: uppercase;
        color: $darkmode;
        height: 45vh;
        .contact-form-text-area {
            padding-top: 1rem;
            padding-bottom: .5rem;
            font-size: 3.2vh;
            width: 40vw;
            border: none;
            border-bottom: 3px solid $darkmode;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #DBDBDB;
            }
        }
        .alert {
            padding-left: 0;
        }
        input[type=submit] {
            background: none;
            border: none;
            font-size: 4vh;
        }
    }
}

// LANDING STYLES
#landing {
    height: 100%;
    padding: 3vw;
    padding-top: 2vw;
    padding-bottom: 0;
    #title {
        font-family: 'Yeseva One', cursive;
    }
    #homenav {
        width: 100%;
        font-family: 'Archivo Narrow', sans-serif;
        text-transform: uppercase;
        font-size: 2.5vw;
        .nav-item, .nav-link {
            color: $darkmode;
            padding-right: 6vw;
            &:hover {
                background: $gradient;
                background-clip: text;
                background-size: 300%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: shine 2s ease infinite;
                @keyframes shine {
                    0% {
                        background-position: 0 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0 50%;
                    }
                }
            }
        }
        color: white;
        margin: 0;
        padding: 0;
    }
    #topsection {
        font-family: 'Archivo Narrow', sans-serif;
        text-transform: uppercase;
        #imagecaption {
            text-align: right;
            vertical-align: top;
            #rachie {
                width: 20vw;
                height: auto;
                padding: 1rem;
                padding-right: 0;
            }
            #artdirection {
                font-size: 1.8vw;
            }
            #losangeles {
                font-size: 1.8vw;
            }
        }
        #designerdeveloper {
            position: absolute;
            top: 8vw;
            right: 23vw;
            font-size: 2.5vw;
        }
    
    }
    #bottomsection {
        position: absolute;
        bottom: 2vh;
        width: 80%;
    }
}


// MOBILE STYLES
@media screen and (max-width: 992px) {
    html, body { overflow-x: hidden; }
    .fittext {
        font-size: 18vw;
    }
    #nav {
        #mainnav {
            padding: 0;
            padding-top: 2vh;
            padding-right: 1vh;
            text-align: right;
            .nav-link, .nav-item {
                font-size: 2vh;
            }
        }
        height: auto;
    }
    #headline {
        padding-top: 3vh;
        h1 {
            font-size: 5vw;
            width: 100vw;
        }
        h3 {
            font-size: 3vh;
            padding-left: 30vw;
        }
    }
    #landing {
        #homenav {
            width: 100%;
            font-family: 'Archivo Narrow', sans-serif;
            text-transform: uppercase;
            font-size: 2.5vh;
            .nav-item, .nav-link {
                padding: 0;
                color: $darkmode;
                padding-right: 6vw;
            }
            color: white;
            margin: 0;
            padding: 0;
        }
        #topsection {
            #imagecaption {
                #rachie {
                    width: 50vw;
                    height: auto;
                    padding: 1rem;
                    padding-right: 0;
                }
                #artdirection {
                    font-size: 1.8vh;
                }
                #losangeles {
                    font-size: 1.8vh;
                }
            }
            #designerdeveloper {
                text-align: right;
                position: absolute;
                top: 8vw;
                right: 54vw;
                font-size: 2.5vh;
            }
        
        }
        #bottomsection {
            bottom: 0;
        }
    }
    #about {
        #aboutbody {
            #text {
                padding-top: 3vh;
                h2 {
                    font-size: 3vh;
                }
                h4 {
                    font-size: 2vh;
                }
            }
        }
    }
    #contact {
        #socials {
            padding-top: 2vh;
            height: 40vh;
            position: relative;
            #instagram {
                width: 12vh;
            }
            #github {
                width: 9vh;
                position: absolute;
                bottom: 6vh;
                left: 11vh;
            }
            #spotify {
                width: 9vh;
                position: absolute;
                bottom: 21vh;
                left: 23vh;
            }
            #linkedin {
                width: 7vh;
                position: absolute;
                bottom: 12vh;
                left: 32vh;
            }
            img {
                height: auto;
            }
        }
    }
    
    #form {
        font-family: 'Archivo Narrow', sans-serif;
        text-transform: uppercase;
        color: $darkmode;
        height: 45vh;
        padding-right: 5rem;
        .contact-form-text-area {
            padding-top: 1rem;
            padding-bottom: .5rem;
            font-size: 3.2vh;
            width: 100% !important;
        }
        input[type=submit] {
            background: none;
            border: none;
            font-size: 4vh;
            padding-left: none;
        }
    }
    #resume {
        #pdf {
            font-size: 1.5vh;
        }
        #education h2 {
            -webkit-text-fill-color: $darkmode;
            -webkit-text-stroke-width: 0;
        }
        h2 {
            color: $darkmode;
            font-size: 3.5vh;
        }
        #experience, #tools {
            h2 {
                -webkit-text-fill-color: white;
                -webkit-text-stroke-width: .15vh;
                -webkit-text-stroke-color: $darkmode;
            }
        }
        #experience {
            #experiencecontent {
                h5 {
                    font-size: 1.5vh;
                }
                p {
                    font-size: 1.2vh;
                }
            }
        }
        #siteportfolio {
            h5, a {
                font-size: 1.2vh;
            }
        }
        #tools {
            h5 {
                font-size: 1.5vh;
            }
            ul {
                font-size: 1.2vh;
            }
        }
        #education {
            h3 {
                font-size: 2vh;
            }
            h4 {
                font-size: 1.5vh;
            }
        }
    }
    #work {
        #topsection {
            height: 18vw;
            #categories {
                width: 90%;
            }
            .category {
                font-size: 1.8vh;
            }
            padding-bottom: 13vh;
        }
        #bottomsection {
            height: 78vh;
            bottom: 0;
            overflow: auto;
            z-index: -2;
            .work {
                scroll-snap-align: start;
                height: 78vh;
                .description {
                    padding-top: 2rem;
                    h2 {
                        font-size: 2.5vh;
                    }
                    h3 {
                        font-size: 2vh;
                    }
                    p {
                        font-size: 1.2vh;
                    }
                }
                img {
                    height: 64vh;
                    width: 95%;
                    object-fit: cover;
                    bottom: 0;
                }
            }
        }
    }
}